.column-drop-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ajuste {
    flex-basis: calc(70% - 0.5rem);
}

.musica {
    flex-basis: calc(30%);
}

.margen {
    margin-top: 20 px;
}