<div class="container"></div>
<hr>
<h1>pipes</h1>
<hr>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Variable</th>
            <th scope="col">Pipe</th>
            <th scope="col">Producto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{ nombre }}</td>
            <td> uppercase</td>
            <td> {{ nombre | uppercase }} </td>
        </tr>
        <tr>
            <td> {{ nombre }}</td>
            <td> lowercase</td>
            <td> {{ nombre | lowercase }} </td>
        </tr>
        <tr>
            <td> {{ nombre }}</td>
            <td> slice:3</td>
            <td> {{ nombre | slice:3 }} </td>
        </tr>
        <tr>
            <td> {{ nombre }}</td>
            <td> slice:0:3</td>
            <td> {{ nombre | slice:0:3 }} </td>
        </tr>
    </tbody>
    <tr>
        <td> {{ arreglo }}</td>
        <td> slice:1:5</td>
        <td> {{ arreglo | slice:1:5 }} </td>
    </tr>
</table>

<h4>Slice</h4>
<ul>
    <li *ngFor="let item of arreglo | slice:5">{{ item }}</li>
</ul>

<router-outlet></router-outlet>