<div class="container margen">
    <p>Los 48 Demonios son uno de los dos antagonistas principales junto con Kagemitsu Daigo en el universo de Dororo. Fueron responsables de haber tomado las 48 partes de las extremidades de Hyakkimaru de su cuerpo, pero le otorgaron poderes demoníacos
        como efecto secundario. Para restaurar su cuerpo, Hyakkimaru busca matar a cada uno de estos poderosos Demonios. </p>
</div>
<div class="container margen">
    <div class="row">
        <div class="col-sm-4" *ngFor="let demonio of demonios">
            <div class="card" [ngClass]="(demonio.vivo)? 'text-white bg-danger mb-3':'text-white bg-success mb-3'">
                <img [src]="demonio.imagen" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre : {{demonio.nombre}}</h5>
                    <h5 class="card-subtitle">Estado : {{demonio.vivo | activeBlocked}}</h5>
                    <p class="card-text">Descripcion : {{demonio.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
    <button [routerLink]="['/']" class="btn btn-primary">Volver</button>
</div>